<div id="content" class="row">
  <div id="project-col" class=col>
    <div class="card bg-dark">
      <div class="card-header">
        Create a New Project
      </div>
      <div class="card-body">
        <form action="/new_project" method="post">
          <div class="form-group">
            <label id="project-label" for="title">Enter a Project Title:</label>
              <input id="project-input" name="title" class="form-control form-control-lg" type="text" placeholder="Ex. Clean up City Central Park" required>
          </div>
          <button type="submit" id="create-project" class="btn btn-success btn-lg btn-block">Create Project</button>
        </form>
      </div>
    </div>
    <% if @projects.any? %>
    <div class="card bg-dark">
      <div class="card-header">
        Current Projects
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead class="thead">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th># of Volunteers</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each_with_index do |proj, i| %>
              <tr class="table-light">
                <th class="align-middle" scope="row"><%= i + 1 %></th>
                <td class="align-middle"><%= proj.title %></td>
                <td class="align-middle"><%= proj.volunteers.count %></td>
                <td style="text-align: center;">
                  <a id="<%= proj.title %>" href="/project/details/<%= proj.id %>">
                    <button class="btn btn-primary btn-block" type="button">View Details</button>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <div id="volunteer-col" class="col">
      <div class="card bg-dark">
        <div class="card-header">
          Add a New Volunteer
        </div>
        <div class="card-body">
          <form action="/new_volunteer" method="post">
            <div class="form-group">
              <label id="volunteer-label" for="name">Enter the New Volunteer's Name:</label>
                <input id="volunteer-input" name="name" class="form-control form-control-lg" type="text" placeholder="Ex. Hiro Nakamura" required>
            </div>
            <div class="form-group">
              <label for="project_id">Assign a Project</label>
              <select class="form-control" name='project_id' type='text'>
                <% @projects.each() do |proj| %>
                  <option value="<%= proj.id %>"> <%= proj.title %> </option>
                <% end %>
              </select>
            </div>
            <button type="submit" id="create-volunteer" class="btn btn-success btn-lg btn-block">Add Volunteer</button>
          </form>
        </div>
      </div>
      <% if @volunteers.any? %>
        <div class="card bg-dark">
          <div class="card-header">
            Active Volunteers
            <a href="/sort_by_name_ascending">
              <button class="btn btn-light" type="button">Name &#11014;</button>
            </a>
            <a href="/sort_by_name_descending">
              <button class="btn btn-light" type="button">Name &#11015;</button>
            </a>
            <a href="/sort_by_hours_ascending">
              <button class="btn btn-light" type="button">Hours &#11014;</button>
            </a>
            <a href="/sort_by_hours_descending">
              <button class="btn btn-light" type="button">Hours &#11015;</button>
            </a>
          </div>
          <div class="card-body">
            <table class="table table-hover table-bordered">
              <thead class="thead">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Assigned Project</th>
                  <th>Hours</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @volunteers.each_with_index do |vol, i| %>
                  <tr class="table-light">
                    <th class="align-middle" scope="row"><%= i + 1 %></th>
                    <td class="align-middle"><%= vol.name %></td>
                    <td class="align-middle"><%= Project.find(vol.project_id).title %></td>
                    <td class="align-middle"><%= vol.hours %></td>
                    <td style="text-align: center;">
                      <a id="<%= vol.name %>" href="/volunteer/details/<%= vol.id %>">
                        <button class="btn btn-primary btn-block" type="button">View Details</button>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
